<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QianYueBao.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A9CE6A1E1E84FCBC00861A60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9CE6A371E84FCBC00861A60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9CE6A421E84FCBC00861A60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
